html {
	font-family: sans-serif;
	height: 100%;
	background: #fff;
	color: #000;
}

@media (prefers-color-scheme: dark) {
	html {
		color: #fec;
		background: #000;
		color-scheme: dark;
	}
}

body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-flow: column nowrap;
}

form {
	display: contents;
}

header, section, footer {
	padding: 0 1em;
	flex: auto 0 0;
}

header, #config-section, #output-section {
	background: #fa08;
}

#template {
	font-family: monospace;
}

#input-section {
	position: relative;
	flex-grow: 1;
	display: flex;
	padding: .25em;
	padding: 0;
}

#input-section textarea {
	font-family: monospace;
	box-sizing: border-box;
	width: 100%;
	min-height: 200px;
	padding: .75em;
	border: solid .25em #000;
	outline: none;
}

#input-section textarea:focus {
	border-color: #fa0;
}

#input-section #examples {
	display: none;
}

#input-section textarea:placeholder-shown + #examples {
	display: flex;
	position: absolute;
	inset: .25em .25em auto auto;
}

header h1 {
	font-size: 2em;
	margin: .25em 0;
}

#config-section {
	padding: 0 0 .5em;	
}

#output-section {
	padding: .5em 1em;	
}

#config {
	border: none;
	display: grid;
	grid-template-columns: max-content max-content;
}

#config > label {
	margin: .25em 0;
	margin-inline-end: .5em;
}

#output-section {
	display: flex;
	flex-flow: row wrap;
}

#submit {
	margin-inline-end: auto;
}

#output-section output {
	flex-grow: 1;
	text-align: center;
}

.error {
	color: red;
	opacity: 1;
}

.error.obsolete {
	opacity: 0;
	transition: opacity 1s;
}